<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @prueba.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @prueba.apellido %>
</p>


<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
